body {
    margin: 0;
    padding: 0;
    background-image: url(imgs/vermei.jpg);
}

.header {
    background-color: red;
    border-bottom: 3px solid rgb(255, 255, 255);
    height: 100px;
}

.logo img{
    width: 130px;
    height: 130px;
    display: flex;
    justify-self: left;
}


.header .container {
    display: flex;
    justify-content: space-between;
}

.estrelas img{
    width: 100px;
}

.container {
    display: flex;
    margin: 0;
    width: 100%;
}


.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    align-self: center;
    text-decoration: none;
}

.div-navbar {
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    flex-direction: row;
}

/* @keyframes spfc {
    0%   {left:-5%;}
    25%  {left:25%;}
    50%  {left:50%}
    75%  {left:75%}
    100% {left:100%}
}   */
