body {
    margin: 0;
    padding: 0;
    background-image: url(imgs/vermei.jpg);
}

.header {
    background-color: red;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.container {
    display: flex;
    margin: 0;
    width: 100%;
}

.titulo {
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35%;
}

.container img {
    height: 80px;
    width: 80px;
    position: relative;
    /* animation-name: spfc;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}
.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    width: 300px;
    justify-content: space-around;
    flex-direction: row;
}

/* @keyframes spfc {
    0%   {left:-5%;}
    25%  {left:25%;}
    50%  {left:50%}
    75%  {left:75%}
    100% {left:100%}
}   */
