.banner-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.container-quiz {
    height: 90%;
    width: 40%;
    background-color: #d71920;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    border-radius: 20px;
}


.quizBox {
    height: 80%;
    width: 80%;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.quizBox img {
    width: 90%;
}

.quizBox ul {
    list-style-type: none;
    width: 100%;
    height: 50%;
}

.quizBox li {
    border: 1px solid black;
    border-radius: 20px;
    width: 90%;
    height: 20%;
    margin-top: 10px;
    margin-right: 40px;
    background-color: #d71920;
    color: white;
    display: flex;
    align-items: center;
}

#question {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #d71920;
    width: 90%;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.quizBox button {
    height: 100%;
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #d71920;
    color: white;
}

.divButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
}





